.container {
    background:#FFF;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    display:block;
    overflow:hidden;
    border: 2px solid #CCC;
    border-radius: 18px;
}
.content {
    position:relative;
    height:90%;
    /* = 100% - 2*5% padding */
    width:90%;
    /* = 100% - 2*5% padding */
    padding: 5%;
}
.circle {
    float:left;
    position: relative;
    width: 10.0%;
    padding-bottom : 10.0%;
    /* = width for a 1:1 aspect ratio */
    margin:0.6%;
    overflow:hidden;
    border:2px solid #CCC;
    border-radius: 18px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}